#main {
    -webkit-app-region: drag;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('FormStart.png');
    background-repeat: no-repeat;
}

button {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
}

#status {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
}