.main {
    -webkit-app-region: drag;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url('form.png');
    background-repeat: no-repeat;
    background-position: top center;
}